html {
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	margin: 0;
	padding: 0;
	grid-template-columns: 0 1fr;
	max-height: 100vh;
	height: 100vh;
}

body>header {
	display: grid;
	background-color: #333333;
	color: #ededed;
	text-align: center;
	grid-template-rows: 1fr 4fr 1fr;
	max-height: 100vh;
}

body>header>nav {
	display: block;
}

body>main {
	background-color: #ededed;
	overflow-y: scroll;
}

body>main>section {
	background-color: #ffffff;
	padding: 3rem 2rem;
	margin: 1.5rem;
}

body>main>section>header {
	font-family: 'Roboto', sans-serif;
}

body>main>section>header>h1 {
	font-size: 3rem;
	margin-bottom: 0;
}

body>main>section>header>h2 {
	font-size: 1.4rem;
	margin-top: 0;
	font-style: italic;
	font-weight: 300;
	margin-bottom: 2.4rem;
}

body>main>section {
	font-size: 1.3rem;
	font-family: 'Source Serif Pro', serif;
}

body>main>section>article>picture>img {
	width: 100%;
	margin-bottom: 2rem;
}

body>main>section>article>p {
	font-size: 1.5rem;
	margin: 0.2rem;
	font-family: 'Source Serif Pro', serif;
}

body>header>div>picture>img{
	border-radius: 50%;
	width: 10rem;
}

body>header>div {
	padding-top: 4rem;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}

body>header>footer {
	padding-top: 3rem;
}

body>main>section>article>p:nth-child(3n) {
	padding-bottom: 2rem;
}

@media only screen and (min-width: 1110px) {
	body {
		grid-template-columns: 1fr 3fr;
	}

	body>main>section {
		padding: 5rem 7rem;
		margin: 7rem;
	}
}